<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <main>
        <h1>Edit Profile</h1>
        <form method="post" action="#" enctype="multipart/form-data">
            <div>
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fvectors%2Fuser-profile.html&psig=AOvVaw02g4WH3gGpSeXJo_xX-vgT&ust=1714261290319000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKiNp42H4YUDFQAAAAAdAAAAABAE" alt="avatar"
                id="img">
                <input type="file" name="foto" id="foto" accept="image/*">
                <label for="foto">Change picture profile</label>
            </div>
            <div>
                <label for="nombre">Name</label>
                <input type="text" name="nombre" autocomplete="off">
            </div>
            <div>
                <label for="apellido">Lastname</label>
            </div>
        </form>
    </main>
</body>
</html>